# Logs
WebDriverIO/logs
WebDriverIO/*.log
WebDriverIO/npm-debug.log*
# Dependency directories
WebDriverIO/node_modules/
WebDriverIO/jsconfig.json
WebDriverIO/allure-results/
WebDriverIO/allure-report/


